*{
    margin: 0;
}
.footer{
    display: flex;
    background-color: black;
   
}

.footer ul li{
    list-style-type: none;


}
.footer ul li a{
    text-decoration: none;
    color: white;
}
ul li a:hover{
    color: rgb(243, 55, 55);
}
#img-14 {
  width: 30px;
height: 30px;
border-radius: 50%;
}
#img-15{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#img-17{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}